<!-- <form action="#" method="post"> -->
<div class="container container-border">
  <div class="imgcontainer">
    <img src="./assets/img/img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div>
    <div class="alert alert-warning" *ngIf='invlaidLogin'><b>{{errorMessage}}</b></div>
    <label for="username"><b>Username</b></label>
    <input type="text" name="username" [(ngModel)]="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" name="password" [(ngModel)]="password" required>

    <button type="submit" (click)=handleLogin()>Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div style="padding:10px 20px; background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw"><a href="#">Forgot Password?</a></span>
  </div>
</div>
<!-- </form> -->