<div class="container-border">
    <h1>My Todo's</h1>
    <div class="alert alert-success" *ngIf="deleteMessage">{{deleteMessage}}</div>
    <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>

    <div class="d-flex justify-content-end">
        <button class="btn btn-success" (click)="addNewTodo()">Add Todo</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Target Date</th>
                <th class="action-col">Is Completed</th>
                <th class="action-col">Update</th>
                <th class="action-col">Delete</th>
            </tr>

        </thead>
        <tbody>

            <tr *ngFor="let todo of todos">
                <td>{{todo.description}}</td>
                <td>{{todo.targetDate | date | uppercase}}</td>
                <td class="action-col">
                    <i *ngIf="todo.done" class="fa fa-check"></i>
                    <i *ngIf="!todo.done" class="fa fa-remove"></i>

                </td>
                <td class="action-col">
                    <a><i (click)="updateTodo(todo.id)" class="fa fa-edit"></i></a>
                    <!--
                    <button (click)="updateTodo(todo.id)" class="btn btn-success"></button>
                    -->
                </td>
                <td class="action-col">
                    <a><i (click)="deleteTodo(todo.id)" class="fa fa-trash"></i></a>
                    <!--
                    <button (click)="deleteTodo(todo.id)" class="btn btn-warning">Delete</button>
                    -->
                </td>
            </tr>
        </tbody>


    </table>
</div>